
html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* TV screen */
.t-v-screen-95563e7e9ec8 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-40px,-40px);
}
.t-v-screen-95563e7e9ec8 {
  position: absolute;
  left: -115px;
  top: -2019px;
  width: 1869px;
  height: 998px;
}

/* TV */
.t-v-9555bcc2bce1 {
  position: absolute;
  left: -143px;
  top: -2063px;
  width: 1920px;
  height: 1080px;
  background: #241f1bFF;
  border: 10px solid #000000FF;
  filter: blur(4px);
}